telemetry.sendTelemetryDataEnabled: true
cos-token.Scopes: "https://api.ebay.com/oauth/scope/@public"
core-auth.uri-prefixes: /noAuth
ginger-client.myService.myClient.endpointUri: "http://localhost:8080/"
standardsMap.error.3: v1

logging:
  pattern:
    console: "%d{MMM-dd HH:mm:ss} %clr(%-5level) %clr(%logger{36}){cyan}.%M - ln %line - %msg%n"
    file: "%d{MMM-dd HH:mm:ss} %clr(%-5level) %clr(%logger{36}){cyan}.%M - ln %line - %msg%n"
  file:
    name: "logs/mdm-service.log"
  level:
    com.ebay.behavior.gds.mdm: INFO
    com.ebay.standards.filter.cors: WARN
    com.ebay.fount.fountclient: ERROR
    com.ebay.globalenv.domain.rt: ERROR
    org.apache.catalina.loader.WebappClassLoaderBase: ERROR
    io.opentelemetry.exporter.internal.grpc.UpstreamGrpcExporter: ERROR
    com.ebay.marketplace.services.esamsservice.esamsservice.gen: OFF
    com.ebay.raptor.configbean.impl.configuration.dao.rt.ConfigurationCategoryXmlDAO: OFF

controller:
  staging-enabled: true
  production-enabled: false

server:
  compression:
    enabled: true
    mime-types: "application/json,application/xml"
    min-response-size: 1024

datasource:
  env: staging
  app-name: cjsmdm
  logical-host: mdmcjsdevmyhost

spring:
  sql:
    init:
      mode: never

  jpa:
    show-sql: true

    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: false
      jdbc:
        time_zone: UTC

  mail:
    host: atom.corp.ebay.com
    port: 25
    protocol: smtp
    username: "DL-eBay-trk-onbrdg-tool-dev@ebay.com"
    default-encoding: UTF-8

  thymeleaf:
    cache: true
    check-template: true
    encoding: UTF-8

governance:
  admins: "vsergeev,akaskurthy"
  moderators: "ropenmetsa,lokcheng,knadimpalli,akaskurthy,vsergeev,xueyichen,jialili1,feshao,zhiyuawang,jiawqin,anikeshah,ltian1,hongmliu,yimikong,kwang10,hansfeng,ydrozd,yimhuang,tneuwerth,natfrost,lmanne"
  actions:
    submit_for_review:
      subject: "Plan submit for review"
      template: plan_submit_email_content.tm
    approve:
      subject: "Plan approved by governance"
      template: plan_approve_email_content.tm
    reject:
      subject: "Plan rejected"
      template: plan_reject_email_content.tm

udc:
  enable: true
  env: STAGING
  data-source: gds_test

sam:
  fidelius:
    - domain: esAuth
      name: username
      path: "/pmsvc/site/tracking/serviceaccount/username"

    - domain: esAuth
      name: password
      path: "/pmsvc/site/tracking/serviceaccount/password"

signal-migration-job:
  hourly:
    enabled: false
    cron: "0 0 0/1 * * ?"
    range: 70m
  custom:
    enabled: false
    cron: "0 0 5 * * WED"
    range: 6000d

sitesso:
  enable: false
  oidc-auth-redirect-url: "https://cjsmdm.stratus.qa.ebay.com/cjs/mdm/v1/site-sso/callback"
  session-patronus-key-ref: "/cjsmdm/sitesso-session-key"
  filter-login-url: "/cjs/mdm/v1/site-sso/login"
  filter-logout-url: "/cjs/mdm/v1/site-sso/logout"
  oidc-scopes: "openid, cjsmdm"
  filter-allowed-cross-domains: "https://localhost:8443,https://cjsportal.muse.qa.ebay.com,http://localhost:8080,https://cjsmdm.stratus.qa.ebay.com,https://cjsmdm4.vip.qa.ebay.com,https://dev.cjsportal.muse.qa.ebay.com"

ginger-client:
  museauth:
    endpointUri: https://auth.muse.vip.ebay.com/api
    connectTimeout: 10000
    readTimeout: 10000
    maxRetryCount: 3
    properties: ebay.cos.enabled=false

  siteSsoService:
    siteSsoClient:
      endpointUri: https://siteiam.vip.ebay.com
      readTimeout: 30000
      maxRetryCount: 4

  patronusService:
    patronusClient:
      endpointUri: https://patronus-tcp.vip.ebay.com/v1/api
      readTimeout: 30000
      maxRetryCount: 4

  infohubService.esauthClient:
    endpointUri: https://esauth.stratus.dev.ebay.com:443/rest/api/services
    connectTimeout: 10000
    readTimeout: 10000
    maxRetryCount: 3
    properties: ebay.cos.enabled=false

  infohubService.infohubClient:
    endpointUri: https://infohub.corp.ebay.com/rest/api/
    connectTimeout: 20000
    readTimeout: 50000
    maxRetryCount: 3
    properties: ebay.cos.enabled=false

  pmsvc:
    endpointUri: http://pmsvc.vip.qa.ebay.com/pmsvc/
    connectTimeout: 10000
    readTimeout: 50000
    maxRetryCount: 3
    properties: ebay.cos.enabled=false

  udc.metadata:
    endpointUri: https://datagov-stg1.qa.ebay.com/api/v1/metadata/
    connectTimeout: 10000
    readTimeout: 30000
    maxRetryCount: 3
    properties: ebay.cos.enabled=false

  legacyMdmService.legacyMdmClient:
    endpointUri: https://cjs-mdm.epic.qa.ebay.com/data-service/api
    connectTimeout: 20000
    readTimeout: 50000
    maxRetryCount: 3
    properties: ebay.cos.enabled=false

  controlPlaneManager:
    endpointUri: https://gdscontrolplanesvc4.vip.qa.ebay.com/api/v1/requests
    connectTimeout: 60000
    readTimeout: 30000
    maxRetryCount: 1
    properties: ebay.cos.enabled=false

  udcContractMetadata:
    endpointUri: https://dgcontracts3.vip.qa.ebay.com
    connectTimeout: 60000
    readTimeout: 60000
    maxRetryCount: 1
    properties: ebay.cos.enabled=false

  decCompiler:
    # endpointUri: http://127.0.0.1:8081/compilersvc/v1
    endpointUri: https://deccompiler-deccompilersvc-staging.qa.ebay.com/compilersvc/v1
    connectTimeout: 10000
    readTimeout: 30000
    maxRetryCount: 1
    properties: ebay.cos.enabled=false

cache:
  reload-cron: "0 0/10 * * * ?" # every 10 minutes

  caches:
    - name: authToken
      expire-after-access-minutes: 60
      initial-capacity: 100
      max-size: 100

    - name: esAuthToken
      expire-after-write-minutes: 10
      initial-capacity: 1
      max-size: 2

    - name: jiraProject
      expire-after-access-minutes: 182
      initial-capacity: 100
      max-size: 100

    - name: allJiraProjects
      expire-after-write-minutes: 182
      initial-capacity: 1
      max-size: 2

    - name: allUsers
      expire-after-write-minutes: 182
      initial-capacity: 1
      max-size: 2

    - name: eventType
      expire-after-write-minutes: 360
      initial-capacity: 20
      max-size: 200

    - name: allLegacySignals
      expire-after-write-minutes: 60
      initial-capacity: 2
      max-size: 10

    - name: allStagedSignals
      expire-after-write-minutes: 60
      initial-capacity: 10
      max-size: 100

    - name: allStagingSignalsLatestVersions
      expire-after-write-minutes: 60
      initial-capacity: 10
      max-size: 100

    - name: allProductionSignalsLatestVersions
      expire-after-write-minutes: 60
      initial-capacity: 10
      max-size: 100
