<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p th:text="${subject}"></p>
        <p th:text="${message}"></p>
        <br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Sincerely, <em th:text="${sender}"></em><br/>
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p style="font-size:11px; " th:text="${about}"></p>
    </body>
</html>